KAGGLE_USERNAME=
KAGGLE_KEY=

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=rootpassword

MONGO_DATABASE=ecommerce_db
MONGO_URI=mongodb://root:rootpassword@mongodb:27017/?authSource=admin

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=